<%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../shared/navigation.ejs') %>
            <main>
                <% if(products.length===0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul class="cart-block">
                            <% products.forEach(prod=> {%>
                                <li>
                                    <p>
                                        <%=prod.title %> x <%=prod.quantity%>
                                    </p>
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= prod._id %>" name="productId">
                                        <button class="btn danger" type="submit">Delete</button>
                                    </form>
                                </li>
                                <%})%>
                        </ul>
                        <form action="/create-order" method="post">
                            <button class="btn" type="submit">Order Now</button>
                        </form>
                        <% } %>
            </main>
            <%- include('../shared/end.ejs') %>