<%- include('../shared/head.ejs') %>
    </head>

    <body>
        <%- include('../shared/navigation.ejs') %>
        <main>
            <ul>
                <% cart.products.forEach(prod => {%>
                    <li>
                        <p><%=prod.title %> x <%=prod.qty%></p>
                    </li>
                <%})%>
            </ul>
            <p>Total: <%=cart.totalPrice%></p>
        </main>
        <%- include('../shared/end.ejs') %>